# Feature Selection and Voting

In [17]:
import numpy as np
import pandas as pd
import seaborn as sns

In [18]:
df = pd.read_csv("C:/Users/beina/Documents/DS_Course/FAVORITA_Final_project/TABLES - DF/OHE.csv")
df.head()

,weekly_transactions,National_Ecuador_weekly_holidays,National_Ecuador_weekly_additionals,National_Ecuador_weekly_events,National_Ecuador_weekly_bridges,locale_Ambato_weekly_holidays,locale_Quito_weekly_holidays,locale_Quito_weekly_additionals,oil_weekly_avg,oil_weekly_max,...,WW_49,WW_50,WW_51,WW_52,item_class_2802,item_class_2850,item_class_2854,item_class_2864,city_Quito,state_Pichincha
0,16,1,0,0,0,0,0,0,159.0,154.0,...,0,0,0,0,0,0,0,0,0,0
1,60,1,0,0,0,0,0,0,159.0,154.0,...,0,0,0,0,0,0,1,0,1,1
2,50,1,0,0,0,0,0,0,159.0,154.0,...,0,0,0,0,1,0,0,0,1,1
3,60,1,0,0,0,0,0,0,159.0,154.0,...,0,0,0,0,0,1,0,0,1,1
4,18,1,0,0,0,0,0,0,159.0,154.0,...,0,0,0,0,1,0,0,0,1,1

In [19]:
df.shape

(9951, 82)

In [20]:
for col in df.columns: 
    print(col)

weekly_transactions
National_Ecuador_weekly_holidays
National_Ecuador_weekly_additionals
National_Ecuador_weekly_events
National_Ecuador_weekly_bridges
locale_Ambato_weekly_holidays
locale_Quito_weekly_holidays
locale_Quito_weekly_additionals
oil_weekly_avg
oil_weekly_max
oil_weekly_min
EQ_Impact
log_weekly_sales
item_nbr_589403
item_nbr_695758
item_nbr_699745
item_nbr_741201
item_nbr_1110679
item_nbr_1247036
onpromotion_0
onpromotion_1
store_nbr_46
store_nbr_47
store_nbr_48
WW_1
WW_2
WW_3
WW_4
WW_5
WW_6
WW_7
WW_8
WW_9
WW_10
WW_11
WW_12
WW_13
WW_14
WW_15
WW_16
WW_17
WW_18
WW_19
WW_20
WW_21
WW_22
WW_23
WW_24
WW_25
WW_26
WW_27
WW_28
WW_29
WW_30
WW_31
WW_32
WW_33
WW_34
WW_35
WW_36
WW_37
WW_38
WW_39
WW_40
WW_41
WW_42
WW_43
WW_44
WW_45
WW_46
WW_47
WW_48
WW_49
WW_50
WW_51
WW_52
item_class_2802
item_class_2850
item_class_2854
item_class_2864
city_Quito
state_Pichincha

In [21]:
df.dtypes

weekly_transactions                    int64
National_Ecuador_weekly_holidays       int64
National_Ecuador_weekly_additionals    int64
National_Ecuador_weekly_events         int64
National_Ecuador_weekly_bridges        int64
                                       ...
item_class_2850                        int64
item_class_2854                        int64
item_class_2864                        int64
city_Quito                             int64
state_Pichincha                        int64
Length: 82, dtype: object

In [22]:
df_X=df.drop(['log_weekly_sales'], axis=1)

In [23]:
for col in df_X.columns: 
    print(col)

weekly_transactions
National_Ecuador_weekly_holidays
National_Ecuador_weekly_additionals
National_Ecuador_weekly_events
National_Ecuador_weekly_bridges
locale_Ambato_weekly_holidays
locale_Quito_weekly_holidays
locale_Quito_weekly_additionals
oil_weekly_avg
oil_weekly_max
oil_weekly_min
EQ_Impact
item_nbr_589403
item_nbr_695758
item_nbr_699745
item_nbr_741201
item_nbr_1110679
item_nbr_1247036
onpromotion_0
onpromotion_1
store_nbr_46
store_nbr_47
store_nbr_48
WW_1
WW_2
WW_3
WW_4
WW_5
WW_6
WW_7
WW_8
WW_9
WW_10
WW_11
WW_12
WW_13
WW_14
WW_15
WW_16
WW_17
WW_18
WW_19
WW_20
WW_21
WW_22
WW_23
WW_24
WW_25
WW_26
WW_27
WW_28
WW_29
WW_30
WW_31
WW_32
WW_33
WW_34
WW_35
WW_36
WW_37
WW_38
WW_39
WW_40
WW_41
WW_42
WW_43
WW_44
WW_45
WW_46
WW_47
WW_48
WW_49
WW_50
WW_51
WW_52
item_class_2802
item_class_2850
item_class_2854
item_class_2864
city_Quito
state_Pichincha

In [24]:
varSel = pd.DataFrame({'Variable': df_X.columns[0:82]})
varSel

                               Variable
0                   weekly_transactions
1      National_Ecuador_weekly_holidays
2   National_Ecuador_weekly_additionals
3        National_Ecuador_weekly_events
4       National_Ecuador_weekly_bridges
..                                  ...
76                      item_class_2850
77                      item_class_2854
78                      item_class_2864
79                           city_Quito
80                      state_Pichincha

[81 rows x 1 columns]

# Univariable Analysis - will be done next step in R

In [13]:
from importlib import reload
from pyMechkar.analysis import Table1
#reload(tb1)

ModuleNotFoundError: No module named 'pyMechkar'

# Multivariable Analysis

In [25]:
## remove unnecessary vars
#X = df.iloc[:,:]
X=df_X
X.head()
X.shape

(9951, 81)

In [26]:
#y=df.iloc[df['log_weekly_sales']]
y = df['log_weekly_sales']
print([X.shape,y.shape])

[(9951, 81), (9951,)]

In [27]:
y.shape

(9951,)

In [28]:
print([X.shape,y.shape])

[(9951, 81), (9951,)]

Variable Selection using LASSO (L1 penalization)

In [29]:
from sklearn.linear_model import Lasso
from sklearn.feature_selection import SelectFromModel

lassomod = Lasso(alpha=0.01).fit(X, y)

C:\Users\beina\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:530: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 25.96187124104563, tolerance: 1.1148788631660898
  model = cd_fast.enet_coordinate_descent(

In [30]:
model = SelectFromModel(lassomod, prefit=True)
model.get_support()

array([ True, False,  True, False, False, False, False, False,  True,
        True,  True, False, False, False,  True,  True,  True,  True,
       False,  True,  True,  True,  True, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False,  True, False,  True,  True,  True, False])

In [31]:
varSel['Lasso'] = model.get_support().astype('int64')
varSel

                               Variable  Lasso
0                   weekly_transactions      1
1      National_Ecuador_weekly_holidays      0
2   National_Ecuador_weekly_additionals      1
3        National_Ecuador_weekly_events      0
4       National_Ecuador_weekly_bridges      0
..                                  ...    ...
76                      item_class_2850      0
77                      item_class_2854      1
78                      item_class_2864      1
79                           city_Quito      1
80                      state_Pichincha      0

[81 rows x 2 columns]

Variable Selection using Random Forest

In [32]:
#pip install -U scikit-learn

In [33]:
# conda install -c conda-forge scikit-learn

In [34]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.feature_selection import SelectFromModel

rfmod = RandomForestRegressor().fit(X, y)
#rfmod.feature_importances_

In [35]:
model = SelectFromModel(rfmod, prefit=True)
model.get_support()

array([ True, False, False, False, False, False, False, False,  True,
        True,  True, False,  True, False, False,  True,  True,  True,
       False,  True,  True,  True, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False,  True, False,  True,  True, False, False])

In [36]:
varSel['RandomForest'] = model.get_support().astype('int64')
varSel

                               Variable  Lasso  RandomForest
0                   weekly_transactions      1             1
1      National_Ecuador_weekly_holidays      0             0
2   National_Ecuador_weekly_additionals      1             0
3        National_Ecuador_weekly_events      0             0
4       National_Ecuador_weekly_bridges      0             0
..                                  ...    ...           ...
76                      item_class_2850      0             0
77                      item_class_2854      1             1
78                      item_class_2864      1             1
79                           city_Quito      1             0
80                      state_Pichincha      0             0

[81 rows x 3 columns]

Variable Selection using Gradient Boosting classification

In [37]:
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.feature_selection import SelectFromModel

gbmod = GradientBoostingRegressor().fit(X, y)

In [38]:
model = SelectFromModel(gbmod, prefit=True)
model.get_support()

array([ True, False, False, False, False, False, False, False, False,
       False, False, False,  True, False,  True,  True,  True, False,
       False,  True, False,  True, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False,  True,  True,  True,  True, False,  True])

In [39]:
varSel['GradientBoost'] = model.get_support().astype('int64')
varSel

                               Variable  Lasso  RandomForest  GradientBoost
0                   weekly_transactions      1             1              1
1      National_Ecuador_weekly_holidays      0             0              0
2   National_Ecuador_weekly_additionals      1             0              0
3        National_Ecuador_weekly_events      0             0              0
4       National_Ecuador_weekly_bridges      0             0              0
..                                  ...    ...           ...            ...
76                      item_class_2850      0             0              1
77                      item_class_2854      1             1              1
78                      item_class_2864      1             1              1
79                           city_Quito      1             0              0
80                      state_Pichincha      0             0              1

[81 rows x 4 columns]

Variable Selection using SVM classification

In [40]:
from sklearn.svm import LinearSVR
#from sklearn.feature_selection import SelectFromModel

#svmmod = LinearSVR(C=0.01, loss="l1",dual=True).fit(X, y)

In [41]:
from sklearn.feature_selection import SelectFromModel

In [42]:
#svmmod = LinearSVR(C=0.01, loss="l1",dual=True).fit(X, y)
svmmod = LinearSVR(C=0.01,dual=True).fit(X, y)

C:\Users\beina\anaconda3\lib\site-packages\sklearn\svm\_base.py:985: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn("Liblinear failed to converge, increase "

In [43]:
model = SelectFromModel(svmmod, prefit=True)
model.get_support()

array([False, False,  True, False, False, False, False, False, False,
       False, False, False, False,  True,  True,  True,  True,  True,
        True,  True, False,  True,  True, False,  True, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False,  True,  True,  True,  True,  True,  True])

In [44]:
varSel['SVM'] = model.get_support().astype('int64')
varSel

,Variable,Lasso,RandomForest,GradientBoost,SVM
0,weekly_transactions,1,1,1,0
1,National_Ecuador_weekly_holidays,0,0,0,0
2,National_Ecuador_weekly_additionals,1,0,0,1
3,National_Ecuador_weekly_events,0,0,0,0
4,National_Ecuador_weekly_bridges,0,0,0,0
...,...,...,...,...,...
76,item_class_2850,0,0,1,1
77,item_class_2854,1,1,1,1
78,item_class_2864,1,1,1,1
79,city_Quito,1,0,0,1
80,state_Pichincha,0,0,1,1

Summarization and Selection of Variables

In [45]:
varSel['Sum'] =  np.sum(varSel,axis=1)
varSel

,Variable,Lasso,RandomForest,GradientBoost,SVM,Sum
0,weekly_transactions,1,1,1,0,3
1,National_Ecuador_weekly_holidays,0,0,0,0,0
2,National_Ecuador_weekly_additionals,1,0,0,1,2
3,National_Ecuador_weekly_events,0,0,0,0,0
4,National_Ecuador_weekly_bridges,0,0,0,0,0
...,...,...,...,...,...,...
76,item_class_2850,0,0,1,1,2
77,item_class_2854,1,1,1,1,4
78,item_class_2864,1,1,1,1,4
79,city_Quito,1,0,0,1,2
80,state_Pichincha,0,0,1,1,2

In [46]:
varSel.groupby('Sum')['Variable'].count()

Sum
0    58
1     3
2    10
3     3
4     7
Name: Variable, dtype: int64

In [47]:
varSel[varSel['Sum']>=3]

               Variable  Lasso  RandomForest  GradientBoost  SVM  Sum
0   weekly_transactions      1             1              1    0    3
14      item_nbr_699745      1             0              1    1    3
15      item_nbr_741201      1             1              1    1    4
16     item_nbr_1110679      1             1              1    1    4
17     item_nbr_1247036      1             1              0    1    3
19        onpromotion_1      1             1              1    1    4
21         store_nbr_47      1             1              1    1    4
75      item_class_2802      1             1              1    1    4
77      item_class_2854      1             1              1    1    4
78      item_class_2864      1             1              1    1    4

In [48]:
varSel[varSel['Sum']>=2]

,Variable,Lasso,RandomForest,GradientBoost,SVM,Sum
0,weekly_transactions,1,1,1,0,3
2,National_Ecuador_weekly_additionals,1,0,0,1,2
8,oil_weekly_avg,1,1,0,0,2
9,oil_weekly_max,1,1,0,0,2
10,oil_weekly_min,1,1,0,0,2
12,item_nbr_589403,0,1,1,0,2
14,item_nbr_699745,1,0,1,1,3
15,item_nbr_741201,1,1,1,1,4
16,item_nbr_1110679,1,1,1,1,4
17,item_nbr_1247036,1,1,0,1,3
19,onpromotion_1,1,1,1,1,4
20,store_nbr_46,1,1,0,0,2
21,store_nbr_47,1,1,1,1,4
22,store_nbr_48,1,0,0,1,2
75,item_class_2802,1,1,1,1,4
76,item_class_2850,0,0,1,1,2
77,item_class_2854,1,1,1,1,4
78,item_class_2864,1,1,1,1,4
79,city_Quito,1,0,0,1,2
80,state_Pichincha,0,0,1,1,2

In [49]:
varSel[varSel['Sum']>=1]

,Variable,Lasso,RandomForest,GradientBoost,SVM,Sum
0,weekly_transactions,1,1,1,0,3
2,National_Ecuador_weekly_additionals,1,0,0,1,2
8,oil_weekly_avg,1,1,0,0,2
9,oil_weekly_max,1,1,0,0,2
10,oil_weekly_min,1,1,0,0,2
12,item_nbr_589403,0,1,1,0,2
13,item_nbr_695758,0,0,0,1,1
14,item_nbr_699745,1,0,1,1,3
15,item_nbr_741201,1,1,1,1,4
16,item_nbr_1110679,1,1,1,1,4
17,item_nbr_1247036,1,1,0,1,3
18,onpromotion_0,0,0,0,1,1
19,onpromotion_1,1,1,1,1,4
20,store_nbr_46,1,1,0,0,2
21,store_nbr_47,1,1,1,1,4
22,store_nbr_48,1,0,0,1,2
24,WW_2,0,0,0,1,1
75,item_class_2802,1,1,1,1,4
76,item_class_2850,0,0,1,1,2
77,item_class_2854,1,1,1,1,4
78,item_class_2864,1,1,1,1,4
79,city_Quito,1,0,0,1,2
80,state_Pichincha,0,0,1,1,2

In [50]:
#varSel1=varSel.filter(items=['Variable'])
varSel_1=varSel[varSel['Sum']>=1]
varSel_1.shape

(23, 6)

In [51]:
varSel_1=varSel_1['Variable']
#reset_index(varSel_3)
varSel_1

0                     weekly_transactions
2     National_Ecuador_weekly_additionals
8                          oil_weekly_avg
9                          oil_weekly_max
10                         oil_weekly_min
12                        item_nbr_589403
13                        item_nbr_695758
14                        item_nbr_699745
15                        item_nbr_741201
16                       item_nbr_1110679
17                       item_nbr_1247036
18                          onpromotion_0
19                          onpromotion_1
20                           store_nbr_46
21                           store_nbr_47
22                           store_nbr_48
24                                   WW_2
75                        item_class_2802
76                        item_class_2850
77                        item_class_2854
78                        item_class_2864
79                             city_Quito
80                        state_Pichincha
Name: Variable, dtype: object

In [52]:
varSel_1.shape

(23,)

In [53]:
df3 = pd.DataFrame(df, columns = ['weekly_transactions',
'National_Ecuador_weekly_additionals',
'oil_weekly_avg',
'oil_weekly_max',
'oil_weekly_min',
'item_nbr_695758',
'item_nbr_699745',
'item_nbr_741201',
'item_nbr_1110679',
'item_nbr_1247036',
'onpromotion_0',
'onpromotion_1',
'store_nbr_46',
'store_nbr_47',
'store_nbr_48',
'WW_2',
'item_class_2802',
'item_class_2850',
'item_class_2854',
'item_class_2864',
'city_Quito',
'state_Pichincha',])

In [54]:
df3.head()

,weekly_transactions,National_Ecuador_weekly_additionals,oil_weekly_avg,oil_weekly_max,oil_weekly_min,item_nbr_695758,item_nbr_699745,item_nbr_741201,item_nbr_1110679,item_nbr_1247036,...,store_nbr_46,store_nbr_47,store_nbr_48,WW_2,item_class_2802,item_class_2850,item_class_2854,item_class_2864,city_Quito,state_Pichincha
0,16,0,159.0,154.0,166.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,60,0,159.0,154.0,166.0,0,0,1,0,0,...,1,0,0,0,0,0,1,0,1,1
2,50,0,159.0,154.0,166.0,0,1,0,0,0,...,0,1,0,0,1,0,0,0,1,1
3,60,0,159.0,154.0,166.0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,1,1
4,18,0,159.0,154.0,166.0,1,0,0,0,0,...,0,0,1,0,1,0,0,0,1,1

In [55]:
nmselectd = df3.columns[0:22]
nmselectd = nmselectd.append(pd.Index(['log_weekly_sales']))
nmselectd

Index(['weekly_transactions', 'National_Ecuador_weekly_additionals',
       'oil_weekly_avg', 'oil_weekly_max', 'oil_weekly_min', 'item_nbr_695758',
       'item_nbr_699745', 'item_nbr_741201', 'item_nbr_1110679',
       'item_nbr_1247036', 'onpromotion_0', 'onpromotion_1', 'store_nbr_46',
       'store_nbr_47', 'store_nbr_48', 'WW_2', 'item_class_2802',
       'item_class_2850', 'item_class_2854', 'item_class_2864', 'city_Quito',
       'state_Pichincha', 'log_weekly_sales'],
      dtype='object')

In [56]:
dfselected = df[nmselectd]
dfselected.head()

,weekly_transactions,National_Ecuador_weekly_additionals,oil_weekly_avg,oil_weekly_max,oil_weekly_min,item_nbr_695758,item_nbr_699745,item_nbr_741201,item_nbr_1110679,item_nbr_1247036,...,store_nbr_47,store_nbr_48,WW_2,item_class_2802,item_class_2850,item_class_2854,item_class_2864,city_Quito,state_Pichincha,log_weekly_sales
0,16,0,159.0,154.0,166.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1.098612
1,60,0,159.0,154.0,166.0,0,0,1,0,0,...,0,0,0,0,0,1,0,1,1,4.812184
2,50,0,159.0,154.0,166.0,0,1,0,0,0,...,1,0,0,1,0,0,0,1,1,4.779123
3,60,0,159.0,154.0,166.0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,1,1.945910
4,18,0,159.0,154.0,166.0,1,0,0,0,0,...,0,1,0,1,0,0,0,1,1,3.555348

In [57]:
dfselected.to_csv (r'C:/Users/beina/Documents/DS_Course/FAVORITA_Final_project/TABLES - DF/dfselected.csv', index = False, header=True)